[submodule "jscore"]
	path = jscore
	url = https://github.com/Octane/jsCore.git
[submodule "promise"]
	path = promise
	url = https://github.com/Octane/Promise.git
[submodule "setimmediate"]
	path = setimmediate
	url = https://github.com/Octane/setImmediate.git
[submodule "textfinder"]
	path = textfinder
	url = https://github.com/Octane/TextFinder.git
[submodule "chromium-issue-473618"]
	path = chromium-issue-473618
	url = https://github.com/Octane/chromium-issue-473618.git
[submodule "consolejs"]
	path = consolejs
	url = https://github.com/Octane/consolejs.git
[submodule "js-core"]
	path = js-core
	url = https://github.com/Octane/js-core.git
[submodule "test-facebook-sharing"]
	path = test-facebook-sharing
	url = https://github.com/Octane/test-facebook-sharing.git
